<div class="main">

  <form class="main__form" nz-form [formGroup]="form">
    <div *ngIf="!isShowBilet; else biletTemplate">

      <div>Имя</div>
      <nz-form-item>
        <nz-form-control>
          <input nzSize="small" formControlName="fio" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <div>Age</div>
      <nz-form-item>
        <nz-form-control>
          <nz-slider [nzMax]="1000" formControlName="age"></nz-slider>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control formControlName="date">
          <nz-date-picker [nzDisabledDate]="disabledDate" [nzShowTime]="true"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <div class="main__form-item">
        <div>
          филм
        </div>
        <nz-form-item>
          <nz-form-control>
            <nz-select formControlName="film">
              <nz-option *ngFor="let film of filmList" [nzValue]="film.id" [nzLabel]="film.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>



    <nz-form-item>
      <nz-form-control>
        <button (click)="submitForm()" nz-button nzType="primary" nzBlock>Ок.</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #biletTemplate>
  <qrcode  [qrdata]="qrLink" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</ng-template>

